---
menu:
  label: Helpers
  order: 4
info:
  release: 0.1.1
  codename: Reckless
---
html
  head
    title Helpers
    link(href={uri("css/default.css")} rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css")
  body
    p
      | Current helpers are Link and Date.
      != Link.to("index.html", "Home", ".")

    div.last-modified
      != Date.span(2013, 01, 12)

    p.current-path
      = currentPath

    - Navigation.menuForPath(allResources, currentPath) match
      - case None =>
        /
          | No navigation menu for 
          = currentPath
      - case Some(root) =>
        - layout("menu.jade", Map("rootNode" -> root))("")

    p.info
      - if (info.contains("release"))
        = info("release")
      - else
        | No 'release' info
